{% extends 'base/indexBase.html' %}
{% load static %}

{% block content %}
{% block navbar %}
<div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/donorHome/">Home</a>
    </li>
  </ul>
  <a href="/donorHome/" class="mx-3"><button class="btn btn-danger text-white" type="button"><b>Back</b></button></a>
</div>
{% endblock navbar %}
<div style="margin-top: 80px;">
     
  <div class="container-fluid">
    <div class="my-3">
        <h3 style="color: white;">Food View</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center shadow bg-white" style="border-radius: 20px;">
            <thead>
                <th>#</th>
                <th>Image</th>
                <th>Name</th>
                <th>Type</th>
                <th>Ingredients</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for food in foods %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img src="{{ food.image.url }}" alt="product_image" class="img-fluid" style="max-height: 100px; max-width: 150px; border-radius: 20%; border-color: blue;"></td>
                    <td class="text-nowrap text-center">{{ food.name }}</td>
                    {% if food.type == "Pure Veg" %}
                    <td><b class="text-success text-nowrap">{{ food.type }}</b></td>
                    {% else %}
                    <td><b class="text-danger text-nowrap">{{ food.type }}</b></td>
                    {% endif %}
                    <td class="text-nowrap">
                        {{ food.ingredients|wordwrap:30|linebreaksbr }}
                    </td>
                    <td class="text-nowrap">{{ food.description|wordwrap:50|linebreaksbr }}</td>
                    {% if food.is_enabled == 0 %}
                    <td class="text-danger text-nowrap"><b>Inactive</b></td>
                    <td><a href="/changeFoodStatus/{{food.id}}/1" class="btn btn-success btn-sm">Activate</a></td>
                    <td><a class="btn btn-secondary btn-sm disabled">Edit</a></td>
                    <td><a class="btn btn-secondary btn-sm disabled">Delete</a></td>
                    {% else %}
                    <td class="text-success text-nowrap"><b>Active</b></td>
                    <td><a href="/changeFoodStatus/{{food.id}}/0" class="btn btn-danger btn-sm">Deactivate</a></td>
                    <td><button class="btn btn-warning btn-sm" onclick="editFood('{{food.id}}');">Edit</button></td>
                    <td><a href="/deleteFood/{{food.id}}" class="btn btn-danger btn-sm">Delete</a></td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10">
                        <h2 class="text-danger">No data found...!</h2>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="editFoodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/updateFood/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="heading">Edit Food</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-bs-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control" id="id" name="id" placeholder="Enter name" hidden>
          
          <!-- Input Text Field -->
          <div class="form-group">
            <label for="textInput">Food Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
          </div>

          <!-- Select Field -->
          <div class="form-group">
            <label for="selectField">Food Type</label>
            <select class="form-control" id="type" name="type">
              <option value="-1" selected disabled>Select Type</option>
              <option value="Pure Veg">Pure Veg</option>
              <option value="Non-Veg">Non-Veg</option>
            </select>
          </div>

          <!-- Checkbox Fields -->
          <div class="form-group">
            <label>Ingredients</label>
            <br>
            {% for ingredient in ingredients %}
            <label for="checkbox1"></label><input type="checkbox" id="ingredients" name="ingredients"
              value="{{ ingredient }}"> {{ ingredient }}</label>
            {% endfor %}
          </div>

          <!-- Input Text Field -->
          <div class="form-group">
            <label for="textInput">Food Quantity</label>
            <input type="number" class="form-control" id="qty" name="qty" placeholder="Enter quantity" required>
          </div>

          <!-- Textarea Field -->
          <div class="form-group">
            <label for="textareaField">Time of Preparation:</label>
            <input class="form-control" id="preparation_time" placeholder="Time of Preparation" name="preparation_time" required></input>
          </div>

          <!-- Textarea Field -->
          <div class="form-group">
            <label for="textareaField">Description:</label>
            <textarea class="form-control" id="description" placeholder="Description" name="description"
              rows="3" required></textarea>
          </div>
    
          <!-- File Field -->
          <div class="form-group">
            <label for="fileField">Image</label>
            <input type="file" class="form-control py-2 rounded-0" id="images" name="images" placeholder="Image"
              accept=".png,.jpg,.jpeg,.webp" required>
          </div>

            <!-- Checkbox Field with default value "No" -->
        <div class="form-group">
          <div class="form-check float-right">
            <label class="form-check-label mr-5" for="is_del">Is Deliverable</label>
              <input class="form-check-input" type="checkbox" id="is_del" name="is_del" value="Yes">
          </div>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Update Food</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  flatpickr("#preparation_time", {
    enableTime: true,
    noCalendar: false,  // Allow selecting dates
    dateFormat: "Y-m-d H:i",  // Adjust the date format to include both date and time
    time_24hr: true,
    minuteIncrement: 1,
    defaultDate: new Date(),  // Set default date to today
    placeholder: "Select date and time",
  });
</script>
{% endblock content %}