{% extends 'base/indexBase.html' %}
{% load static %}
{% block content %}
{% block navbar %}
<div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/userHome/">Home</a>
      </li>
    </ul>
    <a href="/userHome/" class="mx-3"><button class="btn btn-danger text-white" type="button"><b>Back</b></button></a>
  </div>
{% endblock navbar %}
<div style="margin-top: 20px;">
    <section class="h-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card card-registration my-4">
                <div class="row g-0">
                  <div class="col-xl-6 d-flex justify-content-center align-items-center">
                    <img src="{{ food.image.url }}" class="w-100 h-100 rounded align-items-center" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
                  </div>
                  <div class="col-xl-6">
                    <div class="card-body p-md-4 text-black">
                      <h3 class="mb-5 text-uppercase text-center">Food Details</h3>
    
                      <h5>Food Name : </h5>
                      <p style="font-size: 20px;">{{ food.name }}</p>
    
                      <h5>Food Type : </h5>
                      
                      {% if food.type == "Pure Veg" %}
                      <p class="text-white bg-success rounded text-center w-25" >{{ food.type }}</p>
                      {% else %}
                      <p class="text-white bg-danger rounded text-center w-25" >{{ food.type }}</p>
                      {% endif %}

                      <h5>Time of preparation : </h5>
                      <p style="font-size: 18px;">{{ food.prepared_time }}</p>

                      <h5>User Ratings : </h5>
                      <p style="font-size: 18px;"><b>{{ rating }}</b> star rated.</p>

                      <h5>Delivery Facility available: </h5>
                      <p style="font-size: 18px;"><b>{{ food.is_deliverable }}</b></p>
    
                      <h5>Ingredients added : </h5>
                      <p>{{ food.ingredients }}.</p>
                      
                      <h5>Food Description : </h5>
                      <p>{{ food.description }}.</p>
                      <!-- <p>{{ temperature }}.</p>
                      <p>{{ humidity }}.</p> -->
    
                      <div class="text-center">
                        <a class="btn btn-warning mx-3" href="/test_food/{{ food.id }}/{{ temperature }}/{{ humidity }}">Test Food</a>
                        <button class="btn btn-primary mx-3" onclick="orderNow();">Buy Food</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="orderFoodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/orderFood/" method="post" id="orderNow">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="heading">Order Food</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-bs-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control" id="food_id" value="{{ food.id }}" name="food_id" hidden>
            <input type="text" class="form-control" id="donor_id" value="{{ food.donor_id }}" name="donor_id" hidden>
          
          <!-- Input Text Field -->
          <div class="form-group">
            <label for="textInput">Food Quantity</label>
              <div class="row">
                  <div class="col-1 me-2">
                      <button type="button" class=" btn btn-secondary decrease-btn"
                          id="decrease-btn"
                          onclick="decreaseQuantity();">-</button>
                  </div>
                  <div class="col">
                      <input type="text" class="form-control text-center quantity"
                          id="quantity"
                          name="quantity" value="1" placeholder="Quantity"
                          required readonly>

                  </div>
                  <div class="col-1 me-3">
                      <button type="button" class=" btn btn-secondary increase-btn"
                          id="increase-btn"
                          onclick="increaseQuantity();">+</button>
                  </div>
              </div>
            </div>
          <!-- Textarea Field -->
          <div class="form-group">
            <label for="textareaField">Address:</label>
            <textarea class="form-control" id="address" placeholder="Address" name="address" rows="3"></textarea>
          </div>
          <!-- Textarea Field -->
          <div class="form-group">
            <label for="textareaField">Description:</label>
            <textarea class="form-control" id="description" placeholder="Description" name="description" rows="3"></textarea>
          </div>
          <div class="error text-danger font-weight-bold text-center"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Order Now</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  let quantityInput = document.getElementById('quantity');
  let totalAmount = document.getElementById('total');
  let price = "{{ product.price }}"; // Set your initial price here

  function increaseQuantity() {
    let currentQuantity = parseInt(quantityInput.value);
    currentQuantity++;
    quantityInput.value = currentQuantity;
    updatePrice();
  }

  function decreaseQuantity() {
    let currentQuantity = parseInt(quantityInput.value);
    if (currentQuantity > 1) {
      currentQuantity--;
      quantityInput.value = currentQuantity;
      updatePrice();
    }
  }

  function updatePrice() {
    let currentQuantity = parseInt(quantityInput.value);
    let amount = parseFloat(price)
    totalAmount.value = (amount * currentQuantity);
  }
</script>
{% endblock content %}
    