{% extends 'base/indexBase.html' %}
{% load static %}
{% block content %}
{% block navbar %}
<div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/userHome/">Home</a>
    </li>
  </ul>
  <div class="dropdown">
    <button class="btn btn-info mx-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">Others</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/profileInfo/{{ id }}/1">Profile</a></li>
      <li><a class="dropdown-item" href="#">Request for food</a></li>
      <li><a class="dropdown-item" href="/rating/1">Review/Ratings</a></li>
    </ul>
  </div>
  <a href="/logoutNow/" class="mx-3"><button class="btn btn-danger text-white" type="button"><b>Logout</b></button></a>
</div>
{% endblock navbar %}
<div class="container-fluid" style="margin-top: 80px;">
  {% include 'base/messages.html' %}
  <div class="card-group">
    <div class="row">
      {% for food in foods %}
      <div class="col-3">
        <div class="card my-3">
          <img src="{{ food.image.url }}" class="card-img-top" alt="..." height="250px">
          <div class="card-body">
            <div class="d-flex">
              <h5 class="card-title">{{ food.name }}</h5>
              {% if food.type == "Pure Veg" %}
              <p class="text-white bg-success rounded text-center w-25 ml-auto p-0 text-nowrap">{{ food.type }}</p>
              {% else %}
              <p class="text-white bg-danger rounded text-center w-25 ml-auto p-0 text-nowrap">{{ food.type }}</p>
              {% endif %}
            </div>
            <div class="description-container">
              <p class="card-text description">{{ food.description|truncatewords:30 }}</p>
              {% if food.description|wordcount > 30 %}
              <p class="read-more"><a href="#" class="toggle-description">Read More</a></p>
              <p class="full-description">{{ food.description }}</p>
              {% endif %}
            </div>
            <div class="text-center my-3"><a href="/getFood/{{food.id}}/1"><button
                  class="btn btn-success text-center">Get Food</button></a></div>
            <p class="card-text"><small class="text-muted">{{ food.created_date }}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
<style>
  .description-container .full-description {
    display: none;
  }

  .description-container.show-full-description .full-description {
    display: block;
  }
</style>

<script>
  // Add JavaScript to toggle visibility
  document.addEventListener("DOMContentLoaded", function () {
    var toggleButtons = document.querySelectorAll('.toggle-description');

    toggleButtons.forEach(function (button) {
      button.addEventListener('click', function (event) {
        event.preventDefault();
        var descriptionContainer = this.closest('.description-container');
        var fullDescription = descriptionContainer.querySelector('.full-description');
        descriptionContainer.classList.toggle('show-full-description');
        button.textContent = descriptionContainer.classList.contains('show-full-description') ? 'Read Less' : 'Read More';
      });
    });
  });
</script>
{% endblock content %}