{% extends 'base/indexBase.html' %}
{% load static %}
{% block content %}
{% block navbar %}
<div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item mx-3">
      <a class="nav-link active" aria-current="page" href="/userHome/">Home</a>
    </li>
    <li class="nav-item mx-3">
      <a class="nav-link active" aria-current="page" href="/viewHistory/">History</a>
    </li>
  </ul>
  <div class="dropdown">
    <button class="btn btn-info mx-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/profileInfo/{{ id }}/1">Profile</a></li>
      <li><a class="dropdown-item" onclick="requestNow();">Request</a></li>
      <li><a class="dropdown-item" href="/ratings/1">Review/Ratings</a></li>
    </ul>
  </div>
  <a href="/logoutNow/" class="mx-3"><button class="btn btn-danger text-white" type="button"><img width="28" height="28"
        src="https://img.icons8.com/sf-regular/48/FFFFFF/exit.png" alt="exit" /></button></a>
</div>
<style>
  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }
</style>
{% endblock navbar %}
<!-- <div class="container-fluid" style="margin-top: 80px;">

  <div class="card-group">
    <div class="row">
      {% for food in foods %}

      {% if food.quantity > 0 %}
      <div class="col-3">
        <div class="card my-3">
          <img src="{{ food.image.url }}" class="card-img-top" alt="..." height="250px">
          <div class="card-body">
            <div class="d-flex">
              <h5 class="card-title">{{ food.name }}</h5>
              {% if food.type == "Pure Veg" %}
              <p class="text-white bg-success rounded text-center w-25 ml-auto p-0 text-nowrap">{{ food.type }}</p>
              {% else %}
              <p class="text-white bg-danger rounded text-center w-25 ml-auto p-0 text-nowrap">{{ food.type }}</p>
              {% endif %}
            </div>
            <div class="description-container">
              <p class="card-text description">{{ food.description|truncatewords:30 }}</p>
              {% if food.description|wordcount > 30 %}
              <p class="read-more"><a href="#" class="toggle-description">Read More</a></p>
              <p class="full-description">{{ food.description }}</p>
              {% endif %}
            </div>
            <div class="text-center my-3"><a href="/getFood/{{food.id}}/1"><button
                  class="btn btn-success text-center">Get Food</button></a></div>
            <p class="card-text"><small class="text-muted">{{ food.created_date }}</small></p>
          </div>
        </div>
      </div>

      {% endif %}

      {% endfor %}
    </div>
  </div>
</div> -->
<div class="container-fluid" style="margin-top: 80px">
  <div class="row">
    {% for food in foods %}

    {% if food.quantity > 0 %}
    <div class="col-md-3 mb-3">
      <div class="card h-100">
        <img src="{{ food.image.url }}" class="card-img-top" alt="..." height="250px" width="100px" />
        <div class="d-flex align-items-center p-1" style="position: absolute; color: red; background-color: white; ">
          <b>Stock Left: {{food.quantity}}</b>
        </div>
        {% if food.is_deliverable == 'Yes' %}
        <div class="position-absolute top-0 end-0 p-1" style=" color: green; background-color: white;">
          <b>Is Deliverable: {{food.is_deliverable}}</b>
        </div>
        {% else %}
        <div class="position-absolute top-0 end-0 p-1" style=" color: red; background-color: white;">
          <b>Is Deliverable: {{food.is_deliverable}}</b>
        </div>
        {% endif %}
        <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title">{{ food.name }}</h5>
            {% if food.type == "Pure Veg" %}
            <p class="text-white bg-success rounded text-center w-25 ml-auto p-0 text-nowrap">{{ food.type }}</p>
            {% else %}
            <p class="text-white bg-danger rounded text-center w-25 ml-auto p-0 text-nowrap">{{ food.type }}</p>
            {% endif %}
          </div>
          <div class="description-container">
            <p class="card-text description">{{ food.description|truncatewords:30 }}</p>
            {% if food.description|wordcount > 30 %}
            <p class="read-more m-0 p-0"><a href="#" class="toggle-description">Read More</a></p>
            <p class="full-description">{{ food.description }}</p>
            {% endif %}
          </div>
        </div>
        <div class="text-center mt-2 p-0"><a href="/getFood/{{food.id}}/1"><button
              class="btn btn-success text-center">Get Food</button></a></div>
        <p class="card-text mx-2 my-2"><small class="text-muted">{{ food.created_date }}</small></p>
      </div>
    </div>
    {% endif %}


    {% endfor %}
  </div>
</div>
<style>
  .description-container .full-description {
    display: none;
  }

  .description-container.show-full-description .full-description {
    display: block;
  }
</style>

<script>
  // Add JavaScript to toggle visibility
  document.addEventListener("DOMContentLoaded", function () {
    var toggleButtons = document.querySelectorAll('.toggle-description');

    toggleButtons.forEach(function (button) {
      button.addEventListener('click', function (event) {
        event.preventDefault();
        var descriptionContainer = this.closest('.description-container');
        var fullDescription = descriptionContainer.querySelector('.full-description');
        descriptionContainer.classList.toggle('show-full-description');
        button.textContent = descriptionContainer.classList.contains('show-full-description') ? 'Read Less' : 'Read More';
      });
    });
  });
</script>


<!-- Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Tabs -->
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
          <li class="nav-item w-50" role="presentation">
            <a class="nav-link active " id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
              aria-selected="true">Request for food</a>
          </li>
          <li class="nav-item w-50" role="presentation">
            <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
              aria-selected="false">Request for money</a>
          </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content" id="myTabsContent">
          <!-- Tab 1 Content -->
          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <form action="/requestForFood/1" method="post">
              {% csrf_token %}
              <!-- Input Text Field -->
              <div class="form-group">
                <label for="textInput">Food Name</label>
                <input type="text" class="form-control" id="food_name" name="food_name" placeholder="Enter name" required>
              </div>

              <!-- Select Field -->
              <div class="form-group">
                <label for="selectField">Food Type</label>
                <select class="form-control" id="type" name="type" required>
                  <option value="" selected disabled>Select Type</option>
                  <option value="Pure Veg">Pure Veg</option>
                  <option value="Non-Veg">Non-Veg</option>
                </select>
              </div>

              <!-- Textarea Field -->
              <div class="form-group">
                <label for="textareaField">Date:</label>
                <input class="form-control" id="req_date" placeholder="Select Date and Time" name="req_date" required></input>
              </div>

              <!-- Input Text Field -->
              <div class="form-group">
                <label for="textInput">Food Quantity</label>
                <input type="number" class="form-control" id="qty" name="qty" placeholder="Enter quantity" required>
              </div>

              <!-- Input Text Field -->
              <div class="form-group">
                <label for="textInput">Description</label>
                <textarea type="number" class="form-control" id="description" name="description"
                  placeholder="Enter description" rows="" required></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>

          <!-- Tab 2 Content -->
          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <!-- File Field -->
            <form action="/requestForFood/2" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="fileField">Upload an QR Code</label>
                <input type="file" class="form-control py-2 rounded-0" id="image" name="image" placeholder="Image"
                  accept=".png,.jpg,.jpeg,.webp" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  flatpickr("#req_date", {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
      minDate: "today",
      defaultDate: new Date(),
      placeholder: "Select Date and Time",
  });
</script>

{% endblock content %}