{% extends 'base/indexBase.html' %}
{% load static %}


{% block content %}
{% block navbar %}
<div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/userHome/">Home</a>
      </li>
    </ul>
    <a href="/userHome/" class="mx-3"><button class="btn btn-danger text-white" type="button"><b>Back</b></button></a>
  </div>
{% endblock navbar %}
<div class="" style="margin-top: 80px;">
   
  <div class="container w-50 mt-5 mb-5">
    <h3 class="text-center text-white">Ratings</h3>
    <form action="/ratings/1" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="selectField1" class="form-label">Select Food:</label>
            <select class="form-select" id="order_id" name="order_id" required>
                <option value="" selected disabled>Select Food based on Order Id</option>
                
                {% for order in orders %}
                <option value="{{order.order_id}}">{{order.name}}------>{{order.order_id}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="selectField2" class="form-label">Select Ratings:</label>
            <select class="form-select" id="ratings" name="ratings" required>
                <option value="" selected disabled>Select Here</option>
                <option value="5">Excellent</option>
                <option value="4">Very Good</option>
                <option value="3">Good</option>
                <option value="2">Medium</option>
                <option value="1">Low</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="textArea" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
        </div>

        <button type="button" class="btn btn-secondary" onclick="clearAll()">Clear All</button>
        <button type="submit" class="btn btn-primary" onclick="saveForm()">Save</button>
    </form>
</div>

<div style="margin-top: 80px;">
     
    <div class="container-fluid">
        <div class="my-3">
            <h3 style="color: white;">Ratings View</h3>
        </div>
        <table class="table table-border table-bordered text-center shadow h-100vh bg-white" style="border-radius: 20px;">
            <thead>
                <th>#</th>
                <th>order_id</th>
                <th>Food Name</th>
                <th>Donor Name</th>
                <th>Ratings</th>
                <th>Description</th>
            </thead>
            <tbody>
                {% for rating in ratings %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <!-- <td><img src="{{ rating.image.url}}" alt="food_image" height="100px" width="150px" style="border-radius: 20%; border-color: blue;"></td> -->
                    <td class="text-nowrap text-center  ">{{rating.order_id}}</td>
                    <td class="text-nowrap" class="text-nowrap">{{ rating.food_name }}</td>
                    <td class="text-nowrap">{{ rating.donor_name }}</td>
                    <td class="text-nowrap">{{ rating.ratings }} Star</td>
                    <td class="text-nowrap">{{ rating.description|wordwrap:50|linebreaksbr }}</td>
                    
                </tr>
                {% empty %}
                <tr>
                  <td></td>
                  <td></td>
                <td></td>
                <td></td>
                <td></td>
                  <td> <h2 class="text-danger">No data found...!</h2></td>
                  <td></td>
                  <td></td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>

</div>
<script>
    function clearAll() {
            document.querySelector('form').reset();
        }
</script>
{% endblock content %}
    