{% extends 'base/indexBase.html' %}
{% load static %}


{% block content %}
{% block navbar %}
<div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/userHome/">Home</a>
      </li>
    </ul>
    <a href="/userHome/" class="mx-3"><button class="btn btn-danger text-white" type="button"><b>Back</b></button></a>
  </div>
{% endblock navbar %}
<div class="" style="margin-top: 80px;">
  {% include 'base/messages.html' %}
  <div class="container w-50 mt-5">
    <h3 class="text-center text-white">Rating</h3>
    <form>
        <div class="mb-3">
            <label for="selectField1" class="form-label">Select Food:</label>
            <select class="form-select" id="selectField1" name="selectField1">
                <option value="" selected disabled>Select Food based on Order Id</option>
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="selectField2" class="form-label">Select Ratings:</label>
            <select class="form-select" id="selectField2" name="selectField2">
                <option value="" selected disabled>Select Here</option>
                <option value="5">Excellent</option>
                <option value="4">Very Good</option>
                <option value="3">Good</option>
                <option value="2">Medium</option>
                <option value="1">Low</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="textArea" class="form-label">Description</label>
            <textarea class="form-control" id="textArea" name="textArea" rows="4"></textarea>
        </div>

        <button type="button" class="btn btn-secondary" onclick="clearAll()">Clear All</button>
        <button type="button" class="btn btn-primary" onclick="saveForm()">Save</button>
    </form>
</div>

</div>
<script>
    function clearAll() {
            document.querySelector('form').reset();
        }
</script>
{% endblock content %}
    